<div class="container flex-column">
  <h1>{{ test.name }}</h1>
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    @for (question of quiz; track question; let questionIndex = $index;) {
    <div class="question">
      <p>{{ question.question }}</p>
      <div class="flex-column">
        @for (option of question.options; track option; let optionIndex = $index) {
        <label [formArrayName]="questionIndex">
          <input [type]="question?.isMultiple ? 'checkbox' : 'radio'" [name]="questionIndex"
            (change)="onCheckChange($event, optionIndex)" [value]="option.text">
          {{ option.text }}
        </label>
        }
      </div>
    </div>
    }
    <app-button type="submit" label="Submit"></app-button>
  </form>
</div>
